.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 216, 230, 0.4);

}

.App {
  background: rgba(255, 255, 255, 0.15); /* Adjust opacity for glass effect */
  border-radius: 10px;
  backdrop-filter: blur(10px); /* Adjust blur for glass effect */
  padding: 20px;
  width: 300px;
  
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}

.azuki-logo{
  border-radius: 8px;
  margin: 0;
}
.eth-logo{
  margin:0;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin: 0;
}

.custom-button:hover {
  background-color: #45a049;
}

h4{
  font-size: 20px;
  margin: 15px;
}

.eth-logo{
  margin-top:0px;
}